$navWidth: 70px;
$articleWidth: 800px;

.game__wrap {
  min-height: 100vh;
  height: 100%;
  background: salmon;
  position: relative;
}

.nav__wrap {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;

  background: $coal;
  z-index: 10;
}

.nav__list {
  position: relative;
  @include reset-list;
  &:after {
    content: '';
    width: 200px;
    height: 100vh;
    background: lighten($coal, 5%);
    position: absolute;
    top: 0;
    left: $navWidth;
    transform: scaleX(0);
    transform-origin: top left;
    transition: transform .3s $bezier;
  }
  li {
    border-bottom: 1px solid lighten($coal, 10%);
    height: $navWidth;
    position: relative;
  }
  li a {
    display: flex;
    @include reset-anchor;
  }
}

.nav__link {
  padding: 0 20px;
  position: absolute;
  top: 0;
  left: 70px;
  width: 200px;
  bottom: -1px;
  z-index: 1;
  display: flex;
  align-items: center;
  transform: scaleX(0);
  transform-origin: top left;
  transition: transform .3s $bezier 0s, opacity .3s ease-in-out .1s;
  color: white;
  opacity: 0;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
}

.nav__border {
  display: block;
  position: absolute;
  left: $navWidth;
  width: 200px;
  bottom: -1px;
  z-index: 3;
  height: 1px;
  background: lighten($coal, 10%);
  transform: scaleX(0);
  transform-origin: top left;
  transition: transform .3s $bezier;
}

.nav__icon {
  width: $navWidth;
  flex: 0 0 $navWidth;
  height: $navWidth;
  display: inline-block;
  position: relative;
  z-index: 3;
  background-size: 24px;
  background-position: center;
  background-repeat: no-repeat;
}

.nav__list:hover {
  &:after {
    transform: scaleX(1);
  }
  .nav__link {
    transform: scaleX(1);
    opacity: 1;
  }
  .nav__border {
    transform: scaleX(1);
  }

}
.icon-dashboard {
  background-image: url('../icons/icons-dashboard.svg');
}
.icon-world {
  background-image: url('../icons/icons-country.svg');
}
.icon-role {
  background-image: url('../icons/icons-role.svg');
}
.icon-news {
  background-image: url('../icons/icons-news.svg');
}
.icon-policies {
  background-image: url('../icons/icons-policies.svg');
}
.icon-settings {
  background-image: url('../icons/icons-settings.svg');
}
.dash__wrap {
  height: 100%;
  min-height: 100vh;
  width: calc(100% - $navWidth);
  margin-left: $navWidth;
  background: $barely;
  padding: 40px;
  position: relative;
}

.dash__panelWrap {
  background: white;
}
.relative {
  position: relative;

}

hr {
  position: relative;
  border: none;
  padding: 10px 0;
  &:after {
    content: '';
    height: 1px;
    background: $gray-l;
    position: absolute;
    left: -100px;
    right: -100px;
  }
}
hr.small {
  position: relative;
  border: none;
  padding: 5px 0;
  margin: 0;
  &:after {
    content: '';
    height: 1px;
    background: $gray-l;
    position: absolute;
    left: -100px;
    right: -100px;
  }
}
.vr {
  position: relative;
  &:after {
    content: '';
    width: 1px;
    background: $gray-l;
    position: absolute;
    top: 26px;
    bottom: -20px;
    left: 50%;
  }
}
.w10 {
  width: 100%;
}

.h10 {
  height: 100%;
}

.fg2 {
  @include flex-grid(1, 2, 2, 2, 20px);
}

.fg3 {
  @include flex-grid(1, 1, 3, 3, 20px);
}

.fg4 {
  @include flex-grid(1, 2, 4, 4, 20px);
}

.oh {
  overflow: hidden;
}

.shadow {
  @include material-shadow;
}
.m0 {
  margin: 0;
}
.mt1 {
  margin-top: 10px;
}
.mb1 {
  margin-bottom: 10px;
}
.pt1 {
  padding-top: 10px;
}

.p2 {
  padding: 20px;
}
.pt2 {
  padding-top: 20px;
}
.pb2 {
  padding-bottom: 20px;
}
.pl2 {
  padding-left: 20px;
}
.pr2 {
  padding-right: 20px;
}
.np {
  padding: 0 !important;
}
.p4 {
  padding: 40px;
}
.pb4 {
  padding-bottom: 40px;
}
.pl4 {
  padding-left: 40px;
}
.pr4 {
  padding-right: 40px;
}
.m4 {
  margin: 40px;
}
.mr4 {
  margin-right: 40px;
}
.mt2 {
  margin-top: 20px;
}
.mb2 {
  margin-bottom: 20px;
}
.t-white {
  color: white;
}
.flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.align-start {
  align-items: flex-start;
}

.flex-1 {
  flex: 1;
}

.roleWiki__blueBox {
  flex: 0 0 calc(100% + 40px);
  background: $blue;
  padding: 20px 30px;
  margin-left: -20px;
  margin-right: -20px;

}

.sq-bullets {
  list-style-type: square;
  padding-left: 20px;
}

.two-col {
  column-count: 2;
  column-gap: 60px;
}

.header__roleWikiPadding {
  height: 160px;
  width: 100%;
}

.header__roleWiki {
  background: white;
  height: 160px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.header__roleWrap {
  flex: 0 0 25%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border: 1px solid $gray-l;
  border-right: 0;
  &:last-of-type {
    border-right: 1px solid $gray-l;
  }

}

.header__roleInner {
  position: relative;
  z-index: 5;
}

.header__roleWrap.active {
  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: -1px;
    right: 0;
    background: $blue;
    z-index: 3;
  }
  &:before {
    content: '';
    width: 16px;
    height: 16px;
    position: absolute;
    bottom: -8px;
    left: 50%;
    margin-left: -8px;
    background: $blue;
    transform: rotate(45deg);
  }
}

.header__imageAvatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: $gray;
  margin-bottom: 20px;
  background-size: cover;
  background-position: center;
  position: relative;
  border: 3px solid $barely;
}

.active .header__imageAvatar {
  border: 3px solid white;
}

.dash__countryWiki {

}
.dash__countryMap {
  position: sticky;
	top: 0px;
	width: 50%;
  max-width: 750px;
  height: 100vh;
  background: url('../img/map.jpg');
  background-size: cover;
  background-position: center;
}
.dash__countryInfo {
  flex: 1;
}
.dash__twitterFeed {
  position: sticky;
  top: 0px;
  width: 450px;
  height: 100vh;
  background: white;
  overflow: scrolling; 
}
.icon-sm {
  width: 30px;
  height: 30px;
  background: $blue;
  border-radius: 50%;
  margin-bottom: 10px;
}

.article__srcIcon {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.article__meta {
  h5 {
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 0;
  }
  p.date {
    font-size: 15px;

  }
}

.angle-btn {
  &:after {
    content: '';
    position: absolute;
    top: -30px;
    right: -30px;
    width: 60px;
    height: 60px;
    transform: rotate(45deg);
    border: 1px solid $gray-l;
    transition: border .25s ease-in-out;
  }
  &:before {
    content: '';
    position: absolute;
    top: 10px;
    right: 10px;
    width: 10px;
    height: 10px;
    border-top: 1px solid $gray-l;
    border-right: 1px solid $gray-l;
    transition: border .25s ease-in-out;
  }
  &:hover {
  cursor: pointer;
  }
}


.country-flip-item-show {
  .angle-btn:after {
    display: none;
  }
  .angle-btn:before {
    display: none;
  }
}
.country-flip-exit {
  width: 20px;
  height: 20px;
  background: $blue;
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 10;

}
.flip-container {
	perspective: 1500px;
  overflow: hidden;
}
	/* flip the pane when hovered */
	.flip-container.is-flipped .flipper {
		transform: rotateY(180deg);
	}

.flip-container, .front, .back {
	width: 100%;
}

/* flip speed goes here */
.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;

	position: relative;
}

/* hide back of pane during swap */
.front, .back {
	backface-visibility: hidden;

	position: absolute;
	top: 0;
	left: 0;
}

/* front pane, placed above back */
.front {
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
	transform: rotateY(180deg);
  background: white;
  z-index: 1;
  visibility: hidden;

}

.country-flip-item-show {
  visibility: visible !important;
}

.shadow2 {
  @include material-shadow;
  outline-color: transparent;
  outline-style: solid;
  outline-width: 10px;
  transition: outline-color .3s ease;
  &:hover {
    outline-color: $blue;
  }
}
.dash__wrap {
    transition: transform .3s $bezier;
}
.dash__offCanvas {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: scroll;
  background: white;
  width: 800px;
  transform: translateX($articleWidth);
  transition: transform .3s $bezier;
}


.dash__newsArchive {
  position: absolute;
  top: 0;
  left: 450px;
  bottom:0;
  right: 0;
  overflow: scroll;
}
.dash__offCanvas.canvas-is-open {
  transform: translateX(0);
}

.dash__article {
  display: none;
}
.dash__article.active-article {
  display: block;
}
.aspect {
  width: 100%;
  z-index: -10;
  position: relative;
  opacity: 0; }

.push-left {
  transform: translateX(-$articleWidth);
}

.bg-center {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.article__thumbnailImageWrap {
  @include fit;
  transform: scale(1);
  transition: transform .3s ease-in-out;
}

.article__thumbnail:hover {
  cursor: pointer;
  .article__thumbnailImageWrap {
    transform: scale(1.05);
  }
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, .5);
  visibility: hidden;
  opacity: 0;
  z-index: 10;
  transition: opacity .3s $bezier;
}

.overlay-visible .overlay {
  visibility: visible;
  opacity: 1;
}
.close-article {
  position: absolute;
  top: 40px;
  right: 40px;
  width: 20px;
  height: 20px;
  z-index: 20;
  &:before {
    width: 20px;
    height: 2px;
    background: $blue;
    content: '';
    position: absolute;
    top: 50%;
    margin-top: -1px;
    transform: rotate(45deg);
      transition: background .2s ease-in-out;
  }
  &:after {
    width: 20px;
    height: 2px;
    background: $blue;
    content: '';
    position: absolute;
    top: 50%;
    margin-top: -1px;
    transform: rotate(-45deg);
    transition: background .2s ease-in-out;
  }
  &:hover {
    cursor: pointer;
    &:before {
      background: $blue-d;
    }
    &:after {
      background: $blue-d;
    }
  }
}

h5 {
  font-size: 18px;
  line-height: 1.4;
}

.article__thumbnailText h5 {
  margin: 10px 0;
}

.white {
  background: white;
}

.tweet {
  font-family: "Helvetica";
  display: flex;
  .tweet__image {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin-right: 10px;
  }
  .tweet__content {
    flex: 1;
  }
  p {
    font-size: 14px;
    line-height: 20px;
    font-family: "Helvetica";

  }
}

.tweet__name {
  font-size: 14px;
  font-weight: 600;
}

.tweet__handle {
  color: #657786;
  font-size: 14px;
}

.tweet__time {
  display: inline-block;
  padding-left: 8px;
  color: #657786;
  font-size: 12px;
}
@media screen and (min-width: 1080px) {
  .flex-1 {
    margin-right: 40px;
  }

  .roleWiki__blueBox {
    flex: 0 0 30%;
    margin: 0;
  }
}
